.manga-layout {
  display: flex;
}

.manga-item__sidebar-one,
.manga-item__sidebar-two {
  flex: 1;
  display: block;
  background-color: #ebebeb;
}

.main-column {
  flex: 2;
  background-color: white;
  border-radius: 4px;
  min-height: 80vh;
}

.manga-item__main-column {
  flex: 2;
  background-color: white;
  padding: 16px 16px;
  border-radius: 4px;
}

@media (max-width: 1024px) {
  .manga-item__sidebar-one,
  .manga-item__sidebar-two {
    display: none;
  }
}

.manga-info {
  display: flex;
  padding-bottom: 4px;
}

.manga-cover {
  width: 175px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .manga-info {
    display: flex;
    flex-direction: column;
  }

  .manga-cover {
    margin: auto;
  }
}

.manga-info-detail {
  padding: 8px 12px;
}

.list-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 8px;
}

.list-info p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.btn-like-follow button {
  margin: 8px 4px;
  border: none;
  border-radius: 4px;
  padding: 4px 24px;
  font-size: medium;
  transition: filter 0.3s ease; /* Add transition for smooth effect */
}

#btn-like {
  background-color: #ff3860;
  color: white
}

#btn-follow {
  background-color: #bd10e0;
  color: white
}

#btn-like:hover,
#btn-follow:hover {
  filter: brightness(85%); /* Adjust brightness for blur effect */
}

.manga-description{
  text-align: left;
}

.manga-description a {
  color: black;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: orange;
  color: black;
  padding: 2px 8px;
  font-size: medium;
  font-weight: 600;
  flex-wrap: wrap;
  margin: 4px 4px;
}

.manga-description a:hover {
  filter: brightness(85%); /* Adjust brightness for blur effect */
}

.genre-list {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
}

.header-title  {
  margin-top: 12px;
  text-align: left;
  
}

.manga-chapter {
  border: 1px solid;
  border-radius: 4px;
  padding: 8px 12px;
  max-height: 200px;
  overflow: auto;
  min-height: 100px;
}

.chapter-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  margin-top: 8px;
}

.chapter-row a {
  color: black;
  text-decoration: none;
}

.chapter-row a:hover {
  color: orange;
}